.todo {
  background-color: #fafafa;
  background-image: url("../../assets/images/bg-mobile-light.jpg");
  background-size: 100% 30%;
  background-repeat: no-repeat;
  height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    color: #fff;
  }

  &__footer {
    margin-top: 104px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.194444px;
    color: #9495a5;
  }

  &--dark {
    background-color: #171823;
    background-image: url("../../assets/images/bg-mobile-dark.jpg");
  }
}

.container {
  width: 327px;
  margin: 0 auto;
}
