.todo__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  list-style: none;
  padding: 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #494c6b;
  border-bottom: 1px solid #e3e4f1;

  &:hover {
    cursor: pointer;

    & .delete-btn {
      display: inline-block;
    }
  }

  &--checked {
    text-decoration: line-through;
    color: #d1d2da;
  }
}

.check-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #e3e4f1;
  margin-right: 12px;

  &:hover {
    cursor: pointer;
    border-color: #494c6b;
  }

  &--checked {
    background-image: url("../../assets/icons/icon-check.svg"),
      linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }
}

.delete-btn {
  display: none;
  position: absolute;
  right: 20px;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/icons/icon-cross.svg");
  background-size: 12px 12px;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .todo__item {
    font-size: 18px;
  }
}
